/* Variables */
/* Global */
*, *::after *::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #777;
}

section {
  padding: 20px 0;
}

.container {
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  margin: 0 auto;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #222;
  margin-bottom: 0;
}

.section-subtitle {
  font-size: 16px;
  font-style: italic;
  font-family: "Roboto", sans-serif;
  margin-bottom: 100px;
}

/* Navigation */
.navigation {
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}

.navigation .container {
  position: absolute;
  z-index: 300;
  left: 25%;
  top: 5%;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

.navigation .container .nav-name:hover img {
  filter: blur(1px);
}

.navigation li {
  display: inline-block;
  margin-right: 36px;
}

.navigation li a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  transition: all 0.7s ease-in-out;
}

.navigation li a:hover {
  color: #fed136;
}

/* Splash */
.splash {
  z-index: 200;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  background-image: url(/images/Background_Img.png);
  background-size: cover;
  height: 100vh;
  position: relative;
  color: #fff;
}

.splash h1 {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
  margin: 0;
}

.splash h2 {
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  margin: 50px;
}

.splash .btn-splash {
  color: #fff;
  text-decoration: none;
  padding: 20px 50px;
  text-align: center;
  border-radius: 5px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.7s ease-in-out;
  background: #fed136;
}

.splash .btn-splash:hover {
  background: #fff;
  color: #fed136;
}

.splash::after {
  z-index: -100;
  position: absolute;
  height: 100%;
  width: 100%;
  content: '';
  background: #000;
  opacity: 0.5;
}

/* Services */
.services .container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.services .container .services-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

.services-card {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  text-align: center;
  width: 300px;
}

.services-card .services-card-icon {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: #fed136;
  border: 3px solid #fed136;
  border-radius: 50%;
  font-size: 40px;
  width: 67px;
  height: 67px;
  transition: all 0.7s ease-in-out;
}

.services-card .services-card-icon:hover {
  cursor: pointer;
  color: #fff;
  background: #fed136;
}

.services-card .services-card-title {
  color: #222;
  font-size: 18px;
  font-weight: 700;
  line-height: 75px;
  letter-spacing: -0.45px;
  margin-bottom: 0;
}

.services-card .services-card-desc {
  margin-top: 0;
  font-size: 14px;
  letter-spacing: -0.35px;
}

/* Our portfolio */
.our-portfolio {
  background: #f7f7f7;
}

.our-portfolio .container {
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.our-portfolio .container .portfolio-row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
}

.portfolio-card {
  width: 300px;
  margin: 30px 15px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

.portfolio-card img {
  width: 100%;
}

.portfolio-card .portfolio-card-bottom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  background: #fff;
  transition: all 0.7s ease-in-out;
}

.portfolio-card .portfolio-card-bottom .portfolio-card-title {
  margin: 20px 0 0;
  padding: 0;
  color: #222;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -0.45px;
}

.portfolio-card .portfolio-card-bottom .portfolio-card-desc {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0 0 20px;
}

.portfolio-card:hover {
  cursor: pointer;
}

.portfolio-card:hover .portfolio-card-bottom {
  background: #fed136;
}
/*# sourceMappingURL=style.css.map */